name: CI
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13", "3.13t-dev"]
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Up Python ${{ matrix.python-version }}
        uses: gabrielfalcao/pyenv-action@v18
        with:
          default: ${{ matrix.python-version }}
          command: python -VV
      - name: Install
        run: make EXTRAS=dev install
      - name: Test
        run: make test
      - name: Lint
        run: make lint
        continue-on-error: ${{ matrix.python-version == '3.13t-dev' }}  # pyo3 ¯\_(ツ)_/¯

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install
        run: make EXTRAS=dev install
      - name: Build
        run: python -m build
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: sdist
          path: dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: sdist
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
